<h1>Connect 4</h1>

<div id='board'>
  <div class='column column1'>
    <img class='piece hidden column1' id='red1' src="images/red-circle.gif"/>
    <img src="images/column.gif"/>
  </div>
  <div class='column column2'>
    <img class='piece hidden column2' id='red2' src="images/red-circle.gif"/>
    <img src="images/column.gif"/>
  </div>
  <div class='column column3'>
    <img class='piece hidden column3' id='red3' src="images/red-circle.gif"/>
    <img src="images/column.gif"/>
  </div>
  <div class='column column4'>
    <img class='piece hidden column4' id='red4' src="images/red-circle.gif"/>
    <img src="images/column.gif"/>
  </div>
  <div class='column column5'>
    <img class='piece hidden column5' id='red5' src="images/red-circle.gif"/>
    <img src="images/column.gif"/>
  </div>
  <div class='column column6'>
    <img class='piece hidden column6' id='red6' src="images/red-circle.gif"/>
    <img src="images/column.gif"/>
  </div>
  <div class='column column7'>
    <img class='piece hidden column7' id='red7' src="images/red-circle.gif"/>
    <img src="images/column.gif"/>
  </div>
</div>

<footer>
  <p>Thanks <a href="http://simulationcorner.net">Sebastian Macke</a> for the Connect Four gifs.</p>
</footer>
